<div class="row">
  <div class="offset-2 col-md-8 row">
    <div *ngIf="isLoggedIn" class="col-md-1 pull-right custom-button">
      <button routerLink="/login" (click)="logout()">{{'Logout'}}</button>
    </div>
    <div *ngIf="!isLoggedIn" class="col-md-1 pull-right custom-button">
      <button routerLink="/login">{{'Login'}}</button>
    </div>
    <div *ngIf="!isLoggedIn" class="col-md-2 pull-right custom-button">
      <button routerLink="/registration">{{'Registration'}}</button>
    </div>
    <div class="col-md-1 pull-left custom-button">
      <button routerLink="/todo-item">{{'Home'}}</button>
    </div>
  </div>
</div>
