<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(title='Edit Todo Item')"></head>
	<body>
		<div class="container-fluid">
				<header th:replace="fragments/header :: header"></header>
				<div class="col-md-12 pd-l-r-0">
						<div class="row no-gutters">
								<div th:replace="fragments/left-sidebar :: sidebarNav( activeMenu = 'editItem')"></div>
								<div class="content" id="page-content">
									<div class="row no-gutters">
										<div class="col-md-12 mt-1">
												<div class="card panel bg-light rounded-0">Update Todo Item</div>
												<div class="card panel bg-light rounded-0 mt-2">
													<form class="form" action="/todo-items/update" method="post">
															<input name="itemId" type="hidden" th:value="${todoItem.itemId}"/>
														  <div class="form-group">
														    <label for="item-name">Todo Item:</label>
														    <input type="text" class="form-control" placeholder="Enter Item" id="item-name" 
														    name="itemTitle" th:value="${todoItem != null ? todoItem.itemTitle : ''}" required="required"/>
														  </div>
														  <div class="form-group">
														    <label for="desc">Description:</label>
														    <textarea class="textarea form-control" id="desc" 
														    name="description" v-model="description" th:text="${todoItem != null ? todoItem.description : ''}"></textarea>
														  </div>
														    <div class="form-group">
														    <label for="desc">Status:</label>
														    <select name="status" required="required" class="select form-control">
														    	<option th:each="status : ${statusList}" 
														    		th:selected="${todoItem != null && todoItem.status.name() == status}" 
														    		th:value="${status}" th:text="${status}"></option>
														    </select>
														  </div>
														  <button type="submit" class="btn btn-primary">Update</button>
													</form>
												</div>
										</div>
									</div>
								</div>
						</div>
				</div>
		</div>
	</body>
</html>