<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head(title='View Todo Items')"></head>
	<body>
		<div class="container-fluid" id="page-content">
				<header th:replace="fragments/header :: header"></header>
				<div class="col-md-12 pd-l-r-0">
						<div class="row no-gutters">
								<div th:replace="fragments/left-sidebar :: sidebarNav(activeMenu = 'viewTodoItems')"></div>
								<div class="content">
									<div class="row">
										<div class="col-md-12 mt-1 card bg-light">
												<div class="rounded-0">Search Panel</div>
												<div class="row mt-2">
													<label class="label control-label col-md-2">Date From</label>
													<input name="startDate" id="stdate" type="text" 
														class="form-control input col-md-4" v-model="startDate"/>
													<label class="label control-label col-md-2">Date To</label>
													<input name="endDate" id="nddate" type="text" 
														class="form-control input col-md-4" v-model="endDate"/>
												</div>
												<div class="row mt-2 pb-2">
													<label class="label control-label col-md-2">Status</label>
													<select name="status" required="required" class="select form-control col-md-4" v-model="status">
														<option value="">Select</option>
												    	<option th:each="status : ${statusList}" 
												    		th:selected="${todoItem != null && todoItem.status.name() == status}" 
												    		th:value="${status}" th:text="${status}"></option>
												    </select>
												    <div class="col-md-6">
														<input name="search" class="btn btn-primary" type="button" value="Search" @click="fetchTodoList"/>
												    </div>
												</div>
										</div>
										<div class="col-md-12 mt-2">
												<p>Search Result :
													<span v-bind:class="hasError ? 'text-danger' : 'text-success'" class="text-right">{{sysMsg}}</span>
													<span  th:if="${status != null}" th:classappend="${status == 'error' ? 'text-danger' : 'text-success'}" th:text="${message}"></span>
												</p>
												<table class="table table-bordered table-hober table-striped">
													<thead>
															<tr>
																	<th>Sl.</th>
																	<th>Item Name</th>
																	<th>Description</th>
																	<th>Date</th>
																	<th>Status</th>
																	<th>Action</th>
															</tr>
													</thead>
													<tbody>
														<tr v-for="(todo,index) in todoList">
																<td>{{index + 1}}</td>
																<td>{{todo.itemTitle}}</td>
																<td>{{todo.description}}</td>
																<td>{{getDate(todo.creationDateTime)}}</td>
																<td>{{todo.status}}</td>
																<td>
																	<a href="javascript:void(0)" @click="showTodoDetails(index)"> 
																		<svg class="bi bi-info-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		  <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
																		</svg>
																	</a>&nbsp;
																	<a v-bind:href="'todo-items/'+todo.itemId">
																		<svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																		  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"/>
																		  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"/>
																		</svg>
																	</a>&nbsp;
																	<a href="javascript:void(0)" @click="deleteTodo(index)"> 
																			<svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
																			  <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
																			</svg>
																	</a>
															</td>
														</tr>
													</tbody>
												</table>
										</div>
									</div>
								</div>
						</div>
				</div>
				<div th:replace="todoitems/todo-details-modal ::todoDetails"></div>
		</div>
		<script type="text/javascript" th:src="@{/js/view-todo-script.js}"></script>
	</body>
</html>