<head th:fragment="head">
    <title>Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/tabulator/tabulator.min.css" rel="stylesheet" />
	<link href="/css/tabulator/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet" />
	
	<script type="text/javascript" src="/js/tabulator/tabulator.min.js"></script>
	<script type="text/javascript" src="/js/tabulator/jquery_wrapper.min.js"></script>
	<script type="text/javascript" src="/js/moment.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	<link href="/css/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />

	<script type="text/javascript" src="/js/todoapp.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

</head>