<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: head"></head>

<body>

    <div class="container">
        <h1><a href="/todo/">My Todo List</a></h1>
        <h3>Bad Request</h3>

        Your browser sent a request that this server could not understand.


        <div class="form-group col-md-6">				
            <button type="button" onclick="window.location.href = '/todo/';"  class="btn btn-outline-dark">Go Home</button>
        </div>
    </div>

</body>

</html>