<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<head th:substituteby="/fragments/header :: copy"></head>
<body>
<div class="container">
    <h5 class="card-header">New task in mind! Add it now.</h5>
    <div class="card-body">
    <form action="#" th:action="@{/addtask}" th:object="${todoItem}" method="post">
        <table class="table">
            <tr>
                <td>Title:</td>
                <td><input type="text" th:field="*{title}"/></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <select th:field="*{status}">
                        <option th:value="'Todo'" th:text="Todo"></option>
                        <option th:value="'Inprogress'" th:text="Inprogress"></option>
                        <option th:value="'Done'" th:text="Done"></option>
                    </select>
                </td>

                <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              th:field="*{description}"></textarea></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</td>


            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" th:field="*{date}"/></td>
                <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-secondary btn-lg">Add task</button>
                </td>

            </tr>
        </table>
    </form>
</div>
</div>

<div th:substituteby="/fragments/footer :: copy"></div>
</body>
</html>