<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="${pageContext.request.contextPath}">Go Home</a>	
	<form method="post" action="/todo/">
		<label for="name">Name:</label><input type="text" th:field="*{todo.name}" />
		<label for="description">description:</label><textarea th:field="*{todo.description}"></textarea>
	
		<input type="hidden" th:field="*{todo.id}" />
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
		<button type="submit">Save</button>
	</form>
</body>
</html>