<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<head th:substituteby="/fragments/header :: copy"></head>

<h5 class="card-header">Your task list</h5>
<div class="card-body">
    <div th:insert="/fragments/message"></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="row"> Title</th>
            <th scope="row"> Description</th>
            <th scope="row"> Status</th>
            <th scope="row"> Date</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item : ${task}">
            <td><a th:href="@{/edit/{id}(id=${item.id})}"> <span th:text="${item.title}"> Title </span></a></td>
            <td><a th:href="@{/edit/{id}(id=${item.id})}">
                <span style="white-space: pre-wrap" th:text="${item.description}"> Description </span>
            </a>
            </td>

            <td>
                <div th:switch="${item.status}">
                    <p th:case="Inprogress"> <span th:style="${'color: blue;'}">
                    <span th:text="${item.status}"> Status </span>
                </span></p>
                    <p th:case="Done"> <span th:style="${'color: green  ;'}">
                    <span th:text="${item.status}"> Status </span>
                </span></p>
                    <p th:case="Todo"> <span th:style="${'color: orange;'}">
                   <span th:text="${item.status}"> Status </span>
                </span></p>

                </div>
            </td>

            <td><a th:href="@{/edit/{id}(id=${item.id})}"><span th:text="${#dates.format(item.date, 'dd/MM/yyyy')}"> Date </span></a>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</div>


<div th:substituteby="/fragments/footer :: copy"></div>
</body>
</html>